@font-face {
    font-family: 'Niconne', cursive;
    src: url("../fonts/Niconne/Niconne-Regular.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}